<div class="full">
        <div class="container">
            <a href="/" class="valo"><h1>Valorant Buddies</h1></a>
        </div>
        <div class="cart">
            <nav>
                <a href="/cart" class="cart">Cart</a>
            </nav>
        </div>
    </div>