<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant Store</title>
</head>
<body>
    <nav>
        <a href="/valo"><h1>Valorant Buddies</h1></a>
    </nav>



    <table>
        <% cartBuds.forEach(charm =>{ %> 
            <tr>
                <td><img src="<%=charm.img%>" alt="charm.name"></td>
                <td><%=charm.name%></td>
                <td><%=charm.price%></td>
                <% cartBuds.findById('') reduce by the qty bought %>
                <!-- find by id and update with some extra sh*t -->
                <input type="number" id="qty" name="qty" min="0" max="75">
                <td><%=charm.qty%></td>
                <form action="" method="DELETE">
                    <input type="submit" value="Remove">
                </form>
            </tr>
        <% }) %>

    </table>

</body>
</html>