<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <link rel="stylesheet" href="/index.css">
</head>

<body>
    <%- include('./partials/nav.ejs')%>
    <div class="main">
    <div class="ul-con">
        <ul>
            <% buddies.forEach(charms=> { %>
                <li id="pic"><a href="/<%=charms._id; %>"><img src="<%=charms.img; %>" alt="charms.name"></a>

                </li>
                <% }) %>
        </ul>
    </div>
</div>
</body>

</html>